/* ESTILOS GENERALES */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e7fdfe;
    color: #333;
  }
  
  /* ENCABEZADO */
  header {
    background-color: #ffffff; 
    color: #000000;
    text-align: center;
    padding: 20px;
  }
  
  header h1 {
    margin: 0;
    font-size: 2em;
  }
  
  header p {
    font-size: 1.1em;
  }
  
  /* CONTENIDO PRINCIPAL */
  main {
    padding: 20px;
  }
  
  section {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  h2 {
    color: #07949c;
    margin-top: 0;
  }
  
  /* LISTAS */
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
  
  /* IMÁGENES Y VIDEOS */
  .imagen-redonda {
    display: block;
    margin: 10px auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #bbf9fc;
  }
  
  iframe {
    display: block;
    margin: 20px auto;
    max-width: 100%;   
    border-radius: 10px; 
  
  }
  
  /* PIE DE PÁGINA */
  footer {
    background-color: #bbf9fc;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
  }
  
  /* RESPONSIVIDAD */
  @media (max-width: 768px) {
    header h1 {
      font-size: 1.6em;
    }
  
    .imagen-redonda {
      width: 150px;
      height: 150px;
    }
  
    section {
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    header h1 {
      font-size: 1.4em;
    }
  
    header p {
      font-size: 0.9em;
    }
  
    .imagen-redonda {
      width: 120px;
      height: 120px;
    }
  }